* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.container {
  display: flex;
  height: 100vh;
}

.left-pane {
  width: 30%;
  margin: 15px;
  display: flex;
  flex-direction: column;
}

.site-header {
  height: 5%;
  display: flex;
  align-items: center;
  justify-content: safe;
  gap: 5%;
  margin-left: 10%;
  margin-bottom: 15px;
}

.site-header img {
  height: 100%;
}

.list-form-wrapper {
  width: 100%;
  height: 25%;
  padding: 1% 2%;
  margin-bottom: 30px;
  background: #f4f5fd;
  border-radius: 10px;
  box-shadow: 3px 3px 3px 3px #ddd;
  border: 1px solid #ddd;
  display: flex;
}

.list-form-wrapper form {
  width: 100%;
  padding: 5% 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.list-form-wrapper form label {
  font-size: 18px;
}

.create-list-form input {
  width: 80%;
  margin-right: 15px;
  display: inline-block;
  padding: 10px 15px;
  font-size: 16px;
  border: 1px solid #ddd;
  box-shadow: 3px 3px 3px 3px #ddd;
  border-radius: 5px;
}

.create-list-form button {
  display: inline-block;
  padding: 10px 15px;
  font-size: 16px;
}

.open-list-form select {
  width: 100%;
  border: 1px solid #ddd;
  box-shadow: 3px 3px 3px 3px #ddd;
  border-radius: 5px;
  height: 40px;
  font-size: 16px;
  text-align: center;
}

.input-form-wrapper {
  width: 100%;
  height: 65%;
  padding: 5% 10%;
  background: #f4f5fd;
  border-radius: 10px;
  box-shadow: 3px 3px 3px 3px #ddd;
  border: 1px solid #ddd;
}

.input-form-wrapper h1 {
  padding: 0;
}

.input-form-wrapper form {
  display: flex;
  flex-direction: column;
}

.input-form-wrapper form input,
.input-form-wrapper form select,
.input-form-wrapper form textarea {
  border: 1px solid #ddd;
  box-shadow: 3px 3px 3px 3px #ddd;
  border-radius: 5px;
}

.input-form-wrapper form input,
.input-form-wrapper form textarea {
  font-size: 16px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 8px;
  resize: none;
}

.input-form-wrapper form input,
.input-form-wrapper form select {
  height: 40px;
}

.input-form-wrapper form label {
  font-size: 18px;
  margin: 2% 0;
}

.input-form-wrapper form select {
  font-size: 16px;
  text-align: center;
}

.input-form-wrapper form textarea {
  width: auto;
}

.input-form-wrapper form button {
  width: 100px;
  margin: 20px auto;
  padding: 10px;
}

.right-pane {
  width: 70%;
  margin: 15px;
  background: #f4f5fd;
  border-radius: 10px;
  overflow-y: hidden;
  box-shadow: 3px 3px 3px 3px #ddd;
  border: 1px solid #ddd;
}

.item-list-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 3%;
}

.item-list-header {
  display: flex;
  gap: 1%;
  margin: 1% 3% 1% 6%;
}

.item-list-header h2 {
  font-size: 20px;
}

.item-list-subheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 93%;
  margin: auto;
}

.item-list-subheader input {
  height: 40px;
  font-size: 16px;
  background-image: url(https://cdn2.hubspot.net/hubfs/4004166/bioticresearch_website_assets/images/search_icon.png);
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 40px;
  border: 1px solid #ddd;
  box-shadow: 3px 3px 3px 3px #ddd;
  border-radius: 5px;
  width: 300px;
}

.item-list {
  overflow-y: scroll;
  height: 80vh;
}

.item-list ul li {
  display: flex;
  align-items: center;
}

.delete-item-icon {
  padding: 15px;
  margin: 0 0 2%;
  transition: transform 0.2s ease, color 0.2s ease;
}

.delete-item-icon:hover {
  transform: scale(1.2);
  color: #8a8a8a;
  cursor: pointer;
}

.item-list ul li .item-wrapper {
  display: flex;
  width: 100%;
  gap: 2%;
  padding: 15px;
  background: #fff;
  margin: 0 2% 2%;
  transition: margin-left 0.3s ease, box-shadow 0.3s ease;
  border-radius: 5px;
  box-shadow: 3px 3px 3px 3px #ddd;
  border: 1px solid #ddd;
}

.item-list ul li .item-wrapper:hover {
  border: solid 1px #919191;
  box-shadow: 4px 4px 4px 4px #cecece;
  cursor: pointer;
}

.item-list-header-title,
.item-title {
  width: 13%;
}

.item-list-header-information,
.item-information {
  width: 51%;
}

.item-list-header-interest,
.item-interest {
  width: 10%;
  text-align: center;
}

.item-list-header-status,
.item-status {
  width: 10%;
  text-align: center;
}
.item-list-header-date,
.item-date {
  width: 10%;
  text-align: center;
}

.item-information {
  white-space: pre-line;
}
